h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: black;
}
.board {
	display: flex;
	width: 450px;
	height: 450px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 2% auto;
	position: relative;
}
.square {
	height: 150px;
	width: 150px;
	box-sizing: border-box;
	border: 5px solid black;
	font-size: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 1px;
}
.square:hover {
 	cursor: pointer;
 	background-color: #80cd92;
 }

@media(max-width: 540px){
	.square{
		height:100px;
		width:100px;
		font-size:3em;
	}
	.board{
		width:300px;
		height:300px;
		margin-top: 15%;
	}
}