h1 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 7em;
	color: black;
}
.frame {
	display: flex;
	width: 450px;
	height: 450px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 2% auto;
	position: relative;
	border-radius: 1px;
	border: 5px solid black;
}
#text {
	margin-top: 20%;
	margin-left: 28%;
	margin-bottom: 10%;
}
#draw{
	margin-top: 20%;
	margin-left: 20%;
	margin-bottom: 10%;
}
.playAgain button {
 	position: absolute;
 	top: 65%;
 	right: 38%;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 25px;
	border-radius: 5px;
	background-color: red;
	color: white;
	border: solid 1px black;
}